[submodule "Text Editors/Emacs"]
	path = Text Editors/Emacs
	url = git@github.com:SidharthArya/.emacs.d
[submodule "Window Managers/Bspwm"]
	path = Window Managers/Bspwm
	url = https://github.com/SidharthArya/.bspwm
[submodule "Suckless/dwm"]
	path = Suckless/dwm
	url = https://github.com/SidharthArya/dwm
[submodule "Suckless/st"]
	path = Suckless/st
	url = https://github.com/SidharthArya/st
[submodule "Scripts"]
	path = Scripts
	url = https://github.com/SidharthArya/scripts
[submodule "Window Managers/Dwm"]
	path = Window Managers/Dwm
	url = https://github.com/SidharthArya/.dwm
[submodule "Window Managers/XMonad"]
	path = Window Managers/XMonad
	url = git@github.com:SidharthArya/.xmonad.git
[submodule "Packages"]
	path = Packages
	url = https://github.com/SidharthArya/arch-packages
[submodule "Bots"]
	path = Bots
	url = git@github.com:SidharthArya/Bots.git
