[submodule "Text Editors/Emacs"]
	path = Text Editors/Emacs
	url = https://github.com/SidharthArya/.emacs.d
[submodule "Window Managers/Bspwm"]
	path = Window Managers/Bspwm
	url = https://github.com/SidharthArya/.bspwm
[submodule "Suckless/dwm"]
	path = Suckless/dwm
	url = https://github.com/SidharthArya/dwm
[submodule "Suckless/st"]
	path = Suckless/st
	url = https://github.com/SidharthArya/st
